.btn {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    color: white;
    font-weight: 300;
    transition: all 0.5s;
    @include gt-xs {
        font-size: 2rem;
    }
}

.btn--blue {
    border: .2rem solid white;
    @extend .btn;
}

.btn--blue:hover {
    background-color: $blue;
    border: .2rem solid $blue;
}

.btn--pink {
    @extend .btn;
    border: .2rem solid $pink;
}

.btn--pink:hover {
    background-color: $pink;
}