.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    @include flex-center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}

.modal {
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: .4);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    @include gt-xs {
        max-height: 80rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        height: 100%;
    }

    &__content {
        h2 {
            color: $sectiontitle;
            margin: 0;
            font-size: 2.5rem;
            @include gt-xs {
                font-size: 3rem;
            }
        }

        h4 {
            color: $subtitle-light;
            margin: 0;
            font-size: 1.4rem;
            @include gt-xs {
                font-size: 1.6rem;
            }
        }

        hr {
            border: 1px solid rgba(0,0,0,0.1);
            background-color: rgba(0,0,0,0.1);
        }

        &__description {
            color: $body;
            font-size: 1.4rem;
            @include gt-xs {
                font-size: 1.6rem;
            }
        }
    }

    // BUTTONS
    &__actions {
        display: flex;
        justify-content: space-between;
    }

    &__visit-btn {
        a {
            color: black;
        }
    }

    &__close-btn {
        cursor: pointer;
    }
}

.show-modal {
    visibility: visible;
    opacity: 1;
}