//font import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// 1 rem = 10px
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    //fallback
    font-size: 16px;
    //font size set back to the original 16px 
    font-size: 1.6rem;
}

// main {
//     text-align: center;
// }

.container {
    max-width: 100rem;
}

.section {
    padding: 4rem 2rem;
    @include flex-center;
}

.section__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    color: $sectiontitle;
}

a {
    text-decoration: none;
    color: inherit;
}