//font import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// 1 rem = 10px
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    //fallback
    font-size: 16px;
    //font size set back to the original 16px 
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: inherit;
}