#skills-section {
    background-color: $sectionbg;
}

.skills {
    max-width: 60rem;

    .section__hr {
        margin-bottom: 5rem;
    }

    &__row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__col {
        padding: 2.5rem;
        margin: 1rem;
        background-color: $dark;
        border-radius: 100rem;
        @include gt-sm {
            margin: 1.7rem
        }

        img {
            height: 6rem;
            width: 6rem;
        }
    }
}

#create-section {
    @include lt-sm {
        padding-bottom: 4rem;
    }
}

.create {
    // height: 100vh;
    &__row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.card {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 40%;
    // margin-bottom: 3rem;
    height: 19rem;
    padding: 0 1.2rem;
    @include gt-sm {
        flex: 20%;
        height: auto;
    }

    &__icon {
        width: 5rem;
        height: 5rem;
        background-color: $blue;
        border-radius: 50rem;
        padding: 1.5rem;
        @include gt-xs {
            padding: 2rem;
            width: 5.5rem;
            height: 5.5rem;
        }

        img {
            height: 100%;
        }
    }

    &__title {
        margin: 2rem 0 1rem 0;
        color: $body;
        font-size: 2rem;
        @include gt-xs {
            font-size: 2.4rem;
            margin: 1.5rem 0 .5rem 0;
        }
    }

    &__subtitle {
        font-size: 1.4rem;
        color: $body;
        margin: 0;
        font-weight: 300;
        @include gt-xs {
            font-size: 1.6rem;
        }
    }

}

#projects-section {
    background-color: $sectionbg;
    @include lt-sm {
        padding-bottom: 3rem;
    }
}

.project {
    width: 100%;
    &__row {
        @include flex-center;
        flex-wrap: wrap;
        @include gt-sm {
            justify-content: space-between;
        }
    }
}

.project-card {
    // background-color: white;
    margin-bottom: 3rem;
    background: #252934;
    overflow: hidden;
    position: relative;
    border-radius: .4rem;
    max-width: 45rem;
    @include gt-sm {
        margin-bottom: 0;
    }

    &__img {
        max-height: 25rem;
        // max-width: 20rem;
        img {
            max-width: 100%;
            // object-fit: fill;
            // height: auto;
            opacity: 0.15;
        }
    }

    &__content {
        // padding: 0 1rem;
        color: $sectionbg;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    &__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        @include gt-xs {
            font-size: 3rem;
        }
    }

    &__subtitle {
        margin-bottom: 4rem;
        font-size: 1.4rem;
        // color: $blue;
        font-weight: 300;
        @include gt-xs {
            font-size: 1.6rem;
        }
    }

    &__btn {
        padding: 1rem 0;
    }
}

#contact-section {
    background-color: $dark;
}

.contact {
    width: 100%;
    .section__title {
        color: $sectionbg;
    }
    hr {
        // background-color: $sectionbg;
        border: 2px solid $sectionbg;
    }

    &__form {
        @include flex-center;
    }

    form { 
        @include lt-sm {
            min-width: 100%;
        }
        @include gt-xs {
            width: 54rem;
        }
        input,
        textarea {
            width: 100%;
            box-sizing: border-box;
            border: 0;
            padding: 1rem;
            margin-bottom: 1rem;
            background-color: $inputbg;
            caret-color: white;
            color: $sectionbg;

            &:focus {
                outline: none;
            }
        }

        textarea {
            min-height: 15rem;
        }

        .btn-container {
            text-align: right;
            padding: 1rem 0;
        }
    }
}