// @import 'abstracts/variables';
#header {
    position: relative;
}

.header {
    height: 90vh;
    background-color: $dark;
    @include flex-center;
    flex-direction: column;
    text-align: center;

    .header__text {
        color: white;
        z-index: 10;
        
        h1 {
            font-weight: 300;
            font-size: 3.5rem;
            @include gt-xs {
                font-size: 5rem;
            }
        }

        span {
            color: $pink;
        }
    }

    .header__btn {
        padding: 1rem 0;
        margin-bottom: 15rem;
        z-index: 10;
    }
}

#myCanvas {
    height: 60rem;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}