// COLORS
$dark: #252934;
$blue: rgb(4, 194, 201);
// $blue: #69c9d0;
// $blueimage: rgba(4, 194, 201, .7);
// $pink: #e31b6d;
// $pink: #ee1d3a;
$pink: #ee1d52;
$sectionbg: #f5f5f5;
$inputbg: #1e242c;
$darkbtn: #1b242f;
$subtitle-light: #c0c0c0;
$social-bg: #262f38;

$sectiontitle: #444649; 
$body: #616161;