// COLORS
$dark: #252934;
$blue: rgb(4, 194, 201);
$blueimage: rgba(4, 194, 201, .7);
$pink: #e31b6d;
$sectionbg: #f5f5f5;
$inputbg: #1e242c;
$darkbtn: #1b242f;

$sectiontitle: #444649; 
$body: #616161;